@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;500;600;700;800;900&display=swap');

* {
  font-family: 'Poppins', sans-serif;
}

.container-fluid {
  padding: 0;
}

.nav-tabs ul li {
  list-style: none;
  font-size: 14px;
  line-height: 20px;
}

.gap-10 {
  gap: 10px;
}

:root {
  --bs-blue: #0d6efd;
  --ylw: #fdd947;
}
.text-ylw{
  color:var(--ylw);
}
@media (min-width: 1400px) {

  .main-width {
    width: 1102px;
    margin: 0 auto;
  }
}

.w-200 {
  width: 200px;
}

.w-115 {
  width: 115px;
}
.carousel-indicators {
  bottom: -53px  !important;
}
.border-top {
  border-top: 1px solid white;
  border-radius: 0 !important;
}
.carousel-indicators [data-bs-target] {
  border-radius: 50%!important;
  width: 14px!important;
  height: 13px;
  background-color: #000;
 
}
a {
  color: #000;
text-decoration: none;
}
.nav-link {
  margin: 6px 0;
  width: 100%;
}

.ylw-line {
  background-color: var(--ylw);
  padding: 1px;
  width: 50px;
}

.banner-para {
  font-size: 21px;
  font-weight: 300;
  padding-right: 62px;
}

/* .main-width{
    width: 1102px;
    margin: 0 auto;
} */
.logo-brands {
  width: 115px;
  max-height: 152px;
}

.pb-110px {
  padding-bottom: 65px;
}

h2 {
  font-size: 20pt;
  font-weight: 700;
}

.ylw-btn {
  background: var(--ylw);
  border-radius: 36px;
  border: 1px solid var(--ylw);
}

.ylw-sqbtn {
  background: var(--ylw);
  border: 1px solid var(--ylw);
}

.nav-link {
  font-size: 14px;
}

.navbar-expand-lg .navbar-nav {
  justify-content: end;
  width: 100%;
}

.pt-103 {
  padding-top: 65px;
}

.fs-14 {
  font-size: 14px;
}

.accordion-item {

  border: none !important;
}

.accordion-button:not(.collapsed) {
  background-color: transparent !important;
}

.help-p {
  font-size: 14px;
  line-height: 20px;
text-transform: capitalize;
}

.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.banner {
  padding: 60px 0;
}

h1 {
  font-weight: 900;
  font-family: 'inter', sans-serif;
  font-size: 36.8px;

}

.card {
  height: 490px;
}

.card-body {
  box-shadow: 0 -8px 0 #fdd947 !important;
}

.nav-tabs .nav-link:focus,
.nav-tabs .nav-link:hover {
  isolation: isolate;
}

.accordion button.accordion-button {
  border-top: 1px solid #bbb;

  font-size: 17px;
  padding: 26px 0;
  background: transparent;
  font-weight: 600;
}
.design-try{
  background: #f1f1f1cc;
  height: 422px;
  /* padding-left: 49px; */
}
.h-190{
  height: 220px;
}
.accordion-button:not(.collapsed) {

  box-shadow: 0 0 0 0 !important;
}
button.accordion-button.collapsed:after {
  content: "\f067";
  font-family: 'FontAwesome';
  padding: 0;
  width: auto;
  background: transparent;
  font-weight: 400;
}

button.accordion-button:after {
  content: "\f068";
  font-family: 'FontAwesome';
  padding: 0;
  width: auto;
  background-image: none !important;
}
.fw-700 {
  font-weight: 700;
}
.scrolling-area {
  max-height: 280px;
  overflow: auto;
  padding: 1rem;
  direction: rtl;
}

.scrolling-element-inside {
  direction: ltr;
}

.scrolling-area::-webkit-scrollbar {
  width: 8px;
}

.scrolling-area::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px hsl(0deg 0% 35.69%);
  border-radius: 10px;
  height: 10px;
}
/* .scrolling-area::-webkit-scrollbar-button
{
 background-image: url('images/arrow up.png');
 background-color: #0d6efd;
 position: absolute;
 left: 10px;

} */
.h-100px
{
  height: 100px;
}
.accordion-body{
  line-height: 27px;
}
.fs-15{
  font-size: 15px;
  line-height: 24px;

  font-weight: 300;
}
.why  li {
  padding: 5px 0;
}
.why ul li{
  font-weight: 300;
}
.why> li{
  padding: 10px;
}
.scrolling-area::-webkit-scrollbar-thumb {
  background: hsl(0deg 0% 57.25%);
  border-radius: 10px;
  height: 10px;
  width: 10px;
}

.scrolling-area::-webkit-scrollbar-track-piece {
  height: 5px;
}

.scrolling-area::-webkit-scrollbar-thumb:hover {
  background: hsl(0deg 0% 57.25%);
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {

  background-color: #000;
  border-color: #000;
}

.tab-pane ul li {
  font-size: 14px;
}

p {
  font-size: 1.5rem;
}

.logo-edit {

  gap: 70px;
  margin: 0 auto;
}

.bg-black {
  background-color: #000000
}

.bg-gray {
  background-color: #f2f2f2;
}
.start-cr {
  left: 99px;
  top: -24px;
  border-radius: 50%;
  padding: 22px 9px;
  background: #fdd947;
  width: 86px;
}
.form-box {
  padding-top: 20px;
  padding-right: 30px;
  padding-bottom: 20px;
  padding-left: 30px;
  background-color: #ffffff;
  border-style: solid;
  border-color: #1D1D1D;
  border-width: 0px 0px 0px 0px;
  border-radius: 30px 30px 30px 30px;
  box-shadow: 3px 3px 15px 3px #8C8C8C;
}
.cr-img{
    width: 56px;
    position: absolute;
    top: 1px;
    left: 9px;
    rotate: 23deg;
}

.content-flavour {
  margin: 0 auto;
  width: 90%;
}

.bg-footer {
background-image: url('../images/bottom-strip.png');
background-repeat: no-repeat;
background-size: cover;
background-position: top;
}
input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
  /* border: none; */
  /* border-bottom: 2px solid rgb(128, 126, 126); */
  background: transparent;
  outline: none;
  width: 100%;
  text-transform: capitalize;
  padding: 1rem 0.4rem;
}
.form-slect-btn{

    border-radius: 40px !important;
    padding: 11px 10px!important;
    border: 1px solid black!important;

}
.form-heading{

    display: inline-block;
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 8px;
    padding: 0;
}
.accordion-button {

  font-weight: 300;
}